bm25s
aiofiles
uvicorn
langgraph>=0.2.0
langchain
python-dotenv>=1.0.1
sqlalchemy>=2.0.0
fastapi>=0.110.0
docker>=7.0.0
pydantic>=2.0.0
openai
sqlalchemy
langchain_openai
langchain_deepseek
chromadb
tavily
langgraph[all]
langgraph-checkpoint-sqlite
pdfplumber
langchain_text_splitters
python-docx
python-pptx
PyStemmer
python-multipart